@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond');
body{
    text-align: center;
    position: relative;
    font-family: 'Cormorant Garamond', serif;
}
h1{
}
.center{
}
.f1{
    text-align: center;
    font-size: 28px !important;

}
.jumbotron1{
    background-color:transparent !important;
    background-image: url("./img/wooddark.jpg") !important;
    color: white !important;
    background-size: cover !important;
    padding:250px 0 350px 0 !important;
    margin: 0 !important;
}
.link{
    width: 15px;
    height: 15px;
}
.projects{
    font-size: 20px;
}
.hp{
    font-size: 55px;
}
.navbar{
    margin: 0 !important;
    border-radius: 0 !important;
}
.bg-color{
    background-color: black;
}
.jumbotron2{
    background-color:transparent !important;
    background-image: url("./img/marble.png") !important;
    color: black !important;
    background-size: cover !important;
    padding:50px 0 225px 0 !important;
    margin: 0 !important;
}
.divspace{
    padding: 10px 0 100px 0;
}
.jumbotron3{
    background-color:black !important;
    color: white !important;
    background-size: cover !important;
    padding:50px 0 280px 0 !important;
    margin: 0 !important;
}
.jumbotron4{
    background-color:transparent !important;
    background-image: url("./img/silk.jpg");
    color: black !important;
    background-size: cover !important;
    padding:50px 0 250px 0 !important;
    margin: 0 !important;
}
.sec1{
    margin: 0;
}
.sec2{
    margin: 0;
}
.sec3{
    margin: 0;
}
.sec4{
    margin: 0;
}