@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond');
body{
    text-align: center;
    position: relative;
    font-family: 'Cormorant Garamond', serif;
}
h1{
    padding-top: 50px;
}
/*
.carousel{
    max-width: 100%;
    height: 730px;
    padding-top: 55px;
}
.img1{
    max-width: 100%;
    height: 730px;
}
.img2{
    max-width: 100%;
    height: 730px;
}
*/
.center{
}
.f1{
    text-align: center;
    font-size: 32px;

}
.f2{
    text-align: center;
    font-size: 28px;
}
.container1 {
    position: relative;
    text-align: center;
    color: white;
}
.jp1{
    max-width: 100%;
    height: auto;
    opacity: 1;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.centered_down {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#down_arrow{
    width: 75px;
    height: 75px;
}
.jumbotron1{
    background-size:auto!important;
    background-repeat:no-repeat;
    background-position: center top;
    background-color:transparent !important;
    color: white !important;
    padding: 50px 0 0 0 !important;
    margin: 0 !important;
}
.link{
    width: 15px;
    height: 15px;
}
.projects{
    font-size: 20px;
}
.hp{
    font-size: 60px;
}
.hp1{
    font-size: 2.5em;
}
.navbar{
    margin: 0 !important;
    border-radius: 0 !important;
}
.bg-color{
    background-color: black;
}

.carousel-caption {
    position: absolute;
    z-index: 1;
    display:table;
    width:72%;
    height:65%;
}

.absolute-div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.carousel-caption h1 p {
    display:table-cell;
    vertical-align: middle;
    text-align:center;
}

.item {
    position:relative;
}
.jumbotron2{
    max-width: 100%;
    height: auto;
    background-size: cover; !important;
    background-color:white !important;
    color: black !important;
    padding:50px 0 225px 0 !important;
    margin: 0 !important;
}
.divspace{
    padding: 10px 0 100px 0;
}
.jumbotron3{
    max-width: 100%;
    height: auto;
    background: transparent url("./img/wooddark.jpg") !important;
    color: white !important;
    background-size: cover !important;
    padding:50px 0 280px 0 !important;
    margin: 0 !important;
}
.jumbotron4{
    max-width: 100%;
    height: auto;
    background-color:white !important;
    color: black !important;
    background-size: cover !important;
    padding:50px 0 250px 0 !important;
    margin: 0 !important;
}
.sec1{
    margin: 0;
}
.sec2{
    margin: 0;
}
.sec3{
    margin: 0;
}
.sec4{
    margin: 0;
}

.smooth {

}
.smooth_element{
    animation-duration: 0.25s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;
}

.smooth_element--fadein{
    animation-name: fadeIn;
}











#type2{
    text-align: center;
    font-size: 32px;
    white-space: nowrap;
    overflow: hidden;
    white-space: nowrap;
    overflow: hidden;
    animation: fadeIn ease 1.9s 3.4s 1 normal both;
}
#type1 {
    font-size: 60px;
    border-right: solid 3.3px rgba(0,255,0,.75);
    white-space: nowrap;
    overflow: hidden;
    animation: typing 3s steps(50, end) .2s 1 normal both,
    cursor 610ms steps(50, end) infinite;
}

@keyframes typing{
    from{width: 0;}
    to{width: 672px;}
}
@keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translate3d(100%, 0, 0);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes cursor{
    from, to { border-color: transparent }
    50% { border-color: green; }
}